{% extends  'base.html' %}
{% load static %}
{% block title %}
    {{ pagename }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <div class="flex-container">
            {% for letter in alphabet %}
                <a href="{% url 'countries_start_with_letter' letter %}">{{ letter }}</a>
            {% endfor %}
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <ul style="list-style: none;">
            {% for item in page_obj %}
            <li>{{ item.id }}.
                <a href="{% url 'country_detail' item.id %}">{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="row">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}