{% extends  'base.html' %}
{% load static %}
{% block title %}
    {{ pagename }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <div class="flex-container">
            {% for letter in alphabet %}
                <a class="{% if letter == current_letter %}active{% endif %}" href="{% url 'countries_start_with_letter' letter %}">{{ letter }}</a>
            {% endfor %}
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <ol>
            {% for item in countries_items %}
            <li>
                <a href="{% url 'country_detail' item.id %}">{{ item.name }}</a>
            </li>
            {% endfor %}
        </ol>

        </div>
    </div>
</div>
{% endblock %}