{% extends  'base.html' %}
{% load static %}
{% block title %}
    {{ pagename }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <ol>
            {% for language in languages_items %}
            <li>{{ language.name }}</li>
            {% endfor %}
        </ol>

        </div>
    </div>
</div>
{% endblock %}